# Editor backup
*~
*.bak
\#*
*.orig

# Autotools cruft
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
install-sh
missing
Makefile
Makefile.in
depcomp
libtool
ltmain.sh
m4/
.deps/
.libs/
stamp-h*

# Build outputs
.deps/
.libs/
*.la
*.lo
*.o

# Git conflict files
.merge_file_*

# Doxygen outputs
docs/api/out/

# Do not ignore our M4 macros
!common/m4

# Coverage cruft
RidgeRun inference library-0.1.0-coverage*
aminclude_static.am
*.gcno
*.gcda
*.gcno

# Tests 
test-driver
*.xml
*.log
*.trs
tests/unit/r2i/tests
tests/unit/r2i/ncsdk/tests

# rr-build-utils configuration files
.rrconfig
