# Editor backup
*~
*.bak
\#*

# Autotools cruft
aclocal.m4
autom4te.cache/
compile
config.*
configure
install-sh
missing
Makefile
Makefile.in
depcomp
libtool
ltmain.sh
m4/
.deps/
.libs/

# Build outputs
.deps/
.libs/
*.la
*.lo
*.o